---
import Page from "../../layouts/Page.astro"
import Breadcrumb from "../../components/Breadcrumb.astro"
import Table from "../../components/Table.astro"
import data from "../../../public/pokemon.json"
import { GENS } from "../../../constants"

export const getStaticPaths = async () => {
  return GENS.map((gen) => ({
    params: { gen },
    props: {
      gen,
      pokemon: data.filter((p) => p.generation_id === gen).sort((a, b) => (a.id > b.id ? 1 : -1)),
    },
  }))
}

const { gen, pokemon } = Astro.props
---

<Page title={"Gen " + gen + " Pokémon — Astrodex"}>
  <Breadcrumb trail={{ Generation: "/gen", [`Gen ${gen} Pokémon`]: `/gen/${gen}` }} />
  <h1>Gen {gen} Pokémon ({pokemon.length})</h1>
  <Table data={pokemon} sort={{ id: "asc" }} />
</Page>
