---
import { readFile } from "node:fs/promises"
import type { Pokemon } from "../../types"
import Page from "../../layouts/Page.astro"
import Breadcrumb from "../../components/Breadcrumb.astro"
import Table from "../../components/Table.astro"

import { GENS } from "../../../constants"

export const getStaticPaths = async () => {
  const data = await readFile("public/data.json").then((b) => JSON.parse(b.toString()))

  return GENS.map((gen) => ({
    params: { gen },
    props: {
      gen,
      pokemon: data
        .filter((p: Pokemon) => p.generation_id === gen)
        .sort((a: Pokemon, b: Pokemon) => (a.id > b.id ? 1 : -1)),
    },
  }))
}

const { gen, pokemon } = Astro.props
---

<Page title={gen + " — Astrodex"}>
  <Breadcrumb trail={{ Generation: "/gen", [`Gen ${gen} Pokémon`]: `/gen/${gen}` }} />
  <h1>Gen {gen} Pokémon ({pokemon.length})</h1>
  <Table data={pokemon} />
</Page>
