---
import Page from "../../layouts/Page.astro"
import Breadcrumb from "../../components/Breadcrumb.astro"
import Table from "../../components/Table.astro"
import data from "../../data/data.json"
import { GENS } from "../../../constants"

export const getStaticPaths = async () => {
  const paths = GENS.map((gen) => ({
    params: { gen },
    props: {
      gen,
      pokemon: data
        .filter((p) => p.generation_id === gen)
        .map((p) => {
          return {
            id: p.id,
            name: p.name,
            genus: p.genus,
            defaultForm: p.family.find((f) => f.isDefault)?.forms.find((f) => f.isDefault) ?? p.family[0].forms[0],
            forms: p.family
              .map((f) => {
                return {
                  ...f.forms[0],
                  // name: p.name,
                }
              })
              .filter((f) => {
                if (p.name === "Pikachu" && f.id > 10000) return false
                return !f.isBattleOnly && f.image.normal && f.name
              }),
          }
        })
        .sort((a, b) => (a.id > b.id ? 1 : -1)),
    },
  }))

  return paths
}

const { gen, pokemon } = Astro.props
---

<Page title={"Gen " + gen + " Pokémon — Astrodex"}>
  <Breadcrumb trail={{ Generation: "/gen", [`Gen ${gen} Pokémon`]: `/gen/${gen}` }} />
  <header class="page-header">
    <h1>Gen {gen} Pokémon</h1>
    <span class="stats">{pokemon.length} Pokémon</span>
  </header>
  <Table data={pokemon} sort={{ id: "asc" }} showForms={true} />
</Page>
