---
import Page from "../../layouts/Page.astro"
import Breadcrumb from "../../components/Breadcrumb.astro"
import Table from "../../components/Table.astro"
import { CHARS } from "../../../constants"
import data from "../../../public/pokemon.json"

export const getStaticPaths = async () => {
  return CHARS.map((char) => ({
    params: { char },
    props: {
      char,
      pokemon: data.filter((p) => p.name.toLowerCase().startsWith(char)).sort((a, b) => (a.name > b.name ? 1 : -1)),
    },
  }))
}

const { char, pokemon } = Astro.props
const charUp = char.toUpperCase()
---

<Page title={charUp + " Pokémon — Astrodex"}>
  <Breadcrumb trail={{ Name: "/name", [`${charUp} Pokémon`]: `/name/${char}` }} />
  <h1>{charUp} Pokémon ({pokemon.length})</h1>
  <Table data={pokemon} sort={{ name: "asc" }} />
</Page>
