---
import Page from "../../layouts/Page.astro"
import Breadcrumb from "../../components/Breadcrumb.astro"
import Table from "../../components/Table.astro"
import { CHARS } from "../../../constants"
import data from "../../../public/data/data.json"

export const getStaticPaths = async () => {
  const paths = CHARS.map((char) => ({
    params: { char },
    props: {
      char,
      pokemon: data
        .filter((p) => p.name.toLowerCase().startsWith(char))
        .map((p) => {
          return {
            id: p.id,
            name: p.name,
            genus: p.genus,
            defaultForm: p.defaultForm,
            forms: [
              {
                ...p.family[0].forms[0],
                name: p.name,
              },
            ],
          }
        })
        .sort((a, b) => (a.name > b.name ? 1 : -1)),
    },
  }))

  return paths
}

const { char, pokemon } = Astro.props
const charUp = char.toUpperCase()
---

<Page title={charUp + " Pokémon — Astrodex"}>
  <Breadcrumb trail={{ Name: "/name", [`${charUp} Pokémon`]: `/name/${char}` }} />
  <header class="page-header">
    <h1>{charUp} Pokémon</h1>
    <span class="stats">{pokemon.length} Pokémon</span>
  </header>
  <Table data={pokemon} sort={{ name: "asc" }} />
</Page>
