---
import type { Pokemon } from "../types"
import Type from "./Type.astro"

interface Props {
  pokemon: Pokemon
}

const { pokemon } = Astro.props
---

<tr data-id={pokemon.id} data-name={pokemon.name}>
  <td>{pokemon.id}</td>
  <td>{pokemon.name}</td>
  <td><img src={pokemon.image.normal} /></td>
  <td><Type type={pokemon.type} /></td>
</tr>
