---
import type { TableData } from "../types"
import { IMAGE_PATH } from "../../constants"
interface Props {
  data: TableData
  sort?: { [key: string]: "asc" | "desc" }
  showForms?: boolean
}

const { data, sort, showForms } = Astro.props

const cols = [
  { label: "#", sort: "id", type: "number" },
  { label: "Image" },
  { label: "Name", sort: "name" },
  { label: "Type", sort: "type" },
]
---

<table class="list">
  <thead>
    <tr>
      {
        cols.map((col) => {
          const label = <span>{col.label}</span>
          const buttonProps = {
            "data-sort": col.sort,
            "data-type": col.type,
            "data-dir": (sort && col.sort && sort[col.sort]) ?? undefined,
          }
          return <th>{col.sort ? <button {...buttonProps}>{label}</button> : label}</th>
        })
      }
    </tr>
  </thead>
  <tbody>
    {
      data.map((pokemon) => {
        const forms = showForms ? pokemon.forms : [pokemon.forms.find((f) => f.id === pokemon.defaultForm.id)]
        return forms.map((form) => {
          return form ? (
            <tr data-id={pokemon.id} data-formid={form.id}>
              <td data-sort="id" data-value={pokemon.id}>
                <strong class="pokemon-name">{pokemon.id}</strong>
                {/* {form.id !== pokemon.id && showForms === true && pokemon.forms.length > 1 && (
                  <span class="form-name">{form.id}</span>
                )} */}
              </td>
              <td>{form.image.normal && <img loading="lazy" src={`${IMAGE_PATH + form.image.normal}.png`} />}</td>
              <td data-sort="name" data-value={pokemon.name}>
                <a data-action="load" href={`#${pokemon.id}`} data-id={pokemon.id} data-formid={form.id}>
                  <span class="pokemon-name">{pokemon.name}</span>
                  {form.name !== pokemon.defaultForm.name &&
                    form.name !== pokemon.name &&
                    (showForms === true || pokemon.forms.length > 1) && <span class="form-name">{form.name}</span>}
                </a>
              </td>
              <td data-sort="type">
                <ul class="types">
                  {form.type.map((t) => (
                    <li>
                      <figure data-t1={t.toLowerCase()} />
                      <span>{t}</span>
                    </li>
                  ))}
                </ul>
              </td>
            </tr>
          ) : null
        })
      })
    }
  </tbody>
</table>

<dialog closedby="any" class="lightbox">
  <button autofocus class="close" data-action="close">
    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M16 16L12 12M12 12L8 8M12 12L16 8M12 12L8 16" stroke-width="2"></path>
    </svg>
  </button>
  <div class="lightbox-container">
    <header></header>
    <picture></picture>
    <nav>
      <button data-action="prev">&larr;</button>
      <button data-action="next">&rarr;</button>
    </nav>
  </div>
</dialog>
<script src="./scripts/table.ts"></script>
