---
import type { Pokemon } from "../types"

interface Props {
  data: Pokemon[]
}

const { data } = Astro.props
---

<table class="list">
  <thead>
    <tr>
      <th>#</th>
      <th>Image</th>
      <th>Name</th>
      <th>Type</th>
    </tr>
  </thead>
  {
    data.map((pokemon: Pokemon) => {
      return (
        <tr data-id={pokemon.id} data-name={pokemon.name}>
          <td>{pokemon.id}</td>
          <td>
            <img loading="lazy" src={pokemon.image.normal} />
          </td>
          <td>{pokemon.name}</td>

          <td>
            <ul class="types">
              {pokemon.type.map((t) => (
                <li>
                  <span data-type={t.toLowerCase()} />
                  {t}
                </li>
              ))}
            </ul>
          </td>
        </tr>
      )
    })
  }
</table>

<dialog closedby="any" class="lightbox"></dialog>

<script>
  const dialog = document.querySelector("dialog.lightbox")! satisfies HTMLDialogElement
  const table = document.querySelector("table.list")! satisfies HTMLElement
  const html = String.raw

  table.addEventListener("click", (event) => {
    if (event.target instanceof HTMLElement && event.target.nodeName === "TD") {
      const data = event.target.parentElement!.dataset

      const { id, name } = data

      dialog.innerHTML = html`<header>
          <h2>${name}</h2>
          <span>#${id}</span>
        </header>
        <figure>
          <img
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png"
          />
        </figure>`

      dialog.showModal()
    }
  })
</script>
