---
import type { TableData } from "../types"
import { IMAGE_PATH } from "../../constants"
interface Props {
  data: TableData
  sort?: { [key: string]: "asc" | "desc" }
  showForms?: boolean
}

const { data, sort, showForms } = Astro.props

const cols = [
  { label: "#", sort: "id", type: "number" },
  { label: "Image" },
  { label: "Name", sort: "name" },
  { label: "Type", sort: "type" },
]
---

<table class="list">
  <thead>
    <tr>
      {
        cols.map((col) => {
          const colProps = {
            "data-sort": col.sort,
            "data-type": col.type,
            "data-dir": (sort && col.sort && sort[col.sort]) ?? undefined,
          }
          return <th {...colProps}>{col.label}</th>
        })
      }
    </tr>
  </thead>
  <tbody>
    {
      data.map((pokemon) => {
        const forms = showForms ? pokemon.forms : [pokemon.forms.find((f) => f.id === pokemon.defaultForm.id)]
        return forms.map((form) => {
          return form ? (
            <tr data-id={pokemon.id} data-formid={form.id} data-name={pokemon.name} data-form={pokemon.name}>
              <td data-sort="id" data-value={pokemon.id}>
                <strong class="pokemon-name">{pokemon.id}</strong>
                {/* {form.id !== pokemon.id && showForms === true && pokemon.forms.length > 1 && (
                  <span class="form-name">{form.id}</span>
                )} */}
              </td>
              <td>{form.image.normal && <img loading="lazy" src={`${IMAGE_PATH + form.image.normal}.png`} />}</td>
              <td data-sort="name" data-value={pokemon.name}>
                <span class="pokemon-name">{pokemon.name}</span>
                {form.name !== pokemon.defaultForm.name &&
                  form.name !== pokemon.name &&
                  (showForms === true || pokemon.forms.length > 1) && <span class="form-name">{form.name}</span>}
              </td>
              <td data-sort="type">
                <ul class="types">
                  {form.type.map((t) => (
                    <li>
                      <figure data-type={t.toLowerCase()} />
                      <span>{t}</span>
                    </li>
                  ))}
                </ul>
              </td>
            </tr>
          ) : null
        })
      })
    }
  </tbody>
</table>

<dialog closedby="any" class="lightbox">
  <header></header>
  <picture></picture>
  <nav>
    <button data-action="prev">&larr;</button>
    <button data-action="next">&rarr;</button>
  </nav>
</dialog>
<script>
  import type { Pokemon, Species } from "../types"

  async function getData(): Promise<Species[] | null> {
    const data =
      localStorage.getItem("astrodex.data") ??
      (await fetch("/data/data.json").then(async (b) => {
        const d = await b.text()
        localStorage.setItem("astrodex.data", d)
        return d
      }))

    return data ? JSON.parse(data) : null
  }

  const dialog = document.querySelector("dialog.lightbox")! satisfies HTMLDialogElement
  const table = document.querySelector("table.list")! satisfies HTMLElement

  const header = dialog.querySelector("header")!
  const picture = dialog.querySelector("picture")!

  const data = await getData()

  const state: {
    data: Species[]
    id: number
    formid: number
  } = {
    data: data ?? [],
    id: 0,
    formid: 0,
  }

  const html = String.raw

  table.addEventListener("click", async (event) => {
    if (event.target instanceof HTMLElement) {
      if (event.target.nodeName === "TD") {
        const { id, formid, name } = event.target.parentElement!.dataset
        if (id && formid && name) {
          state.id = +id
          state.formid = +formid
          const src = event.target.parentNode!.querySelector("img")!.src
          await updateDialog(state.id, state.formid, name, src)
          dialog.showModal()
        }
      } else if (event.target.nodeName === "TH") {
        const { sort, type } = event.target.dataset
        if (sort) {
          sortRows(sort, type, event.target)
        }
      }
    }
  })
  dialog.addEventListener("keydown", async (event) => {
    const action = event.key === "ArrowRight" ? "next" : event.key === "ArrowLeft" ? "prev" : false
    action && (await getSibling(action))
  })
  dialog.addEventListener("click", async (event) => {
    if (event.target instanceof HTMLElement) {
      if (event.target.nodeName === "BUTTON") {
        const { action } = event.target.dataset
        action && (await getSibling(action))
      }
    }
  })

  async function getSibling(action: string) {
    const node = document.querySelector(`tr[data-formid="${state.formid}"]`)!
    let target = action === "prev" ? node.previousElementSibling : node.nextElementSibling

    if (target instanceof HTMLElement && target.nodeName === "TR") {
      const { id, formid, name } = target.dataset
      const src = target.querySelector("img")!.src

      if (id && name && formid) {
        state.formid = +formid
        state.id = +id
        await updateDialog(state.id, state.formid, name, src)
      }
    }
  }

  function getDetails(
    id: number,
    formid: number
  ): { species: Species | undefined; form: Pokemon | undefined; defaultForm: Pokemon | undefined } {
    const species = state.data.find((p) => p.id === id)
    const form = species && species.family.flatMap((f) => f.forms).find((form) => form.id === formid)
    const defaultForm = species?.family.find((f) => f.isDefault)?.forms.find((f) => f.isDefault)

    return { species, form, defaultForm }
  }
  async function updateDialog(id: number, formid: number, name: string, src: string) {
    const { species, form, defaultForm } = getDetails(id, formid)

    if (species && form && defaultForm) {
      dialog.dataset.type = form.type[0]
      header.innerHTML = `<h2><span>${name}</span><span>#${id}</span></h2>`
      header.innerHTML += html`<div class="stats">
        <span class="form-name">${species.genus}</span>${form.name !== species.name && form.name !== defaultForm.name
          ? `<span class="form-name">${form.name}</span></div>`
          : ""}
      </div>`

      picture.innerHTML = `<img src="${src}" />`
    }
  }

  function sortRows(col: string, type: string | undefined, node: HTMLElement) {
    const dir = node.dataset.dir
    const newDir = !dir || dir === "desc" ? "asc" : "desc"
    const rows = table.querySelectorAll(":scope tbody tr")

    Array.from(rows)
      .sort((a, b) => {
        const [ea, eb] = dir === "asc" ? [a, b] : [b, a]
        const [ta, tb] = [ea.querySelector(`[data-sort="${col}"]`)!, eb.querySelector(`[data-sort="${col}"]`)!]
        const [ca, cb] = [
          ta?.getAttribute("data-value") ?? ta.textContent,
          tb?.getAttribute("data-value") ?? tb.textContent,
        ]

        return type === "number" ? (Number(ca) > Number(cb) ? -1 : 1) : cb.localeCompare(ca)
      })
      .forEach((tr) => table.querySelector("tbody")!.appendChild(tr))

    table
      .querySelectorAll("thead th")
      .forEach((th) => (th === node ? th.setAttribute("data-dir", newDir) : th.removeAttribute("data-dir")))
  }
</script>
